@charset "utf-8";


h1{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
background-color: rgba(255, 255, 255, 0.486);
width: 10em;
height: 100px;
text-align: center;
font-size: 60px;
font-family: 'Roboto Mono', monospace;
}

.video-wrapper{
width: 100%;
height: 100vh;
}
/* サイズの指定はdivにつける */

.video-wrapper>video{
object-fit: cover;/* 画像を埋め込む */
width: 100%;
height: 100%;
}
